@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Mate+SC&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    display: flex;
    width: 100%;
    max-width: 1200px;
    background-color: white;
    border-radius: 8px;
}

.form-container {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-container img {
    max-width: 100%;
    height: auto;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

input[type="text"],
input[type="email"] {
    padding: 10px;
    margin-bottom: 18px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: "Red Hat Text", sans-serif;
    font-weight: 600;
    font-size: 14px;
}

button {
    padding: 10px;
    background-color: #FFC700;
    color: #22092C;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Libre Baskerville", serif;
    font-weight: 600;
    margin-top: 5px;
    font-size: 15px;
}

button:hover {
    background-color: #FFF455;
}

label {
    align-self: flex-start;
    font-family: "Merriweather", serif;
}

h1, p {
    text-align: center;
}

h1{
    margin-top: -54px;
    font-family: "Mate SC", sans-serif;
    color: #00215E;
}

p{
    margin-top: -4px;
    font-family: "Josefin Sans", sans-serif;
    color: #12372A;
}

#voterIdError{
    margin-top: -5px;
    margin-bottom: 7px;
    color: red;
    display: none;
    font-family: 'Josefin Sans', sans-serif;
}