@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Cinzel:wght@400..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Sedan:ital@0;1&display=swap');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    display: flex;
    width: 100%;
    max-width: 1200px; 
    background-color: white;
    border-radius: 8px;
}

.form-container, .image-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image-container img {
    max-width: 100%; 
    height: auto; 
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

input[type="password"],
input[type="text"] {  
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: "Cabin", sans-serif;
    font-weight: 600;
    width: 100%;
    
}

button {
    padding: 10px;
    background-color: #FFC700;
    color: #400E32;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 15px;
    font-family: "Sedan", sans-serif;
    font-weight: 600;
    font-size: 19px;
}

button:hover {
    background-color: #FFF455;
    
}

label {
    align-self: flex-start;
    font-family: "Libre Baskerville", sans-serif;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    margin-top: -20px;
    color: #016A70;
    font-family: "Cinzel", sans-serif;
}

.material-symbols-outlined {
    vertical-align: middle;  
    font-variation-settings:
      'FILL' 1,
      'wght' 400,
      'GRAD' 0,
      'opsz' 18;
  }
  
  .status-text {
    vertical-align: middle;  
    display: inline;         
  }


  .password-container {
    position: relative;
    display: flex;
    align-items: center;
}

input[type="password"],
input[type="text"] {  
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: "Cabin", sans-serif;
    font-weight: 600;
    width: 100%;
    font-size: 16px;  
}

.toggle-password {
    position: absolute;
    right: 10px;
    cursor: pointer;
    user-select: none; 
    margin-top: -24px;
}
